
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    background-image: url(fotos/Imagen_form.jpg);
    padding: 20px;
    background-attachment: fixed;
    
}

.general {
    max-width: 600px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 0 auto;  
    background-color: white
    
}

h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

p {
    text-align: center;
    color: #666;
    margin-bottom: 30px;
}

.Datos {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

input[type="text"], 
input[type="date"], 
input[type="tel"], 
input[type="email"], 
input[type="number"],    
textarea, 
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

input[type="checkbox"] {
    margin-right: 10px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}


.volver_inicio{
    width: 140px;
    height: auto;
    position: absolute;
    margin: 8px;
    backdrop-filter: blur(10px);
    top: 0;
    left: 0;
    font-family: sans-serif;
    font-size: 15px;
    border-radius: 20px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.2);
    transition: all 0.1s ease-in;

    
}

.volver_inicio:active{
    transform: translate(5px,5px);
}

.volver_inicio a{
    text-decoration: none;
    color: black;

}

/* tbconnos.css */

.error-message {
    color: red;
    font-size: 14px;
    margin-top: 5px;
}

input.error, textarea.error {
    border-color: red;
}
